
/* ==========================================================================
   Variables
   ========================================================================== */


// Debug
// ==========================================================================
$debug-mode:            true;


// Base
// ==========================================================================
$base-font-size:        16px;
$base-font-family:      Helvetica, Arial;


// Mediaqueries
// ==========================================================================
$mq-small:              37em;
$mq-medium:             55em;
$mq-large:              78em;
$mq-extra-large:        93em;